<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkSpringBoot2.other.DAOS.dao.name.NameDAO" >


    <select id="selectNameById" resultType="com.kkSpringBoot2.other.DAOS.entity.name.Name">

        select * from name where id = '1'

    </select>



</mapper>